* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0; 
}

.tk-body {
   font-family: 'Futura';
   height: 100%;
}

// HEADER
.tk-header {
width: 100%;
}

.tk-navigation {
width: 100%;  
position: fixed;
z-index: 1;
top: 0;
background-color: white;
}

.tk-navigation-list {
text-align: center;
list-style-type: none;
padding: 0;
}

.tk-navigation-list__item {
  font-size: 14px;
  color: black;
  margin: 15px 10px ;
  display: inline-block;
  padding: 0px 20px; 
}

.tk-navigation-list__item :hover {
  color: #DA791D;
  font-size: 15px;
}

.tk-socialmedia-list {
padding: 0; 
}

.tk-navigation-list__item-link {
  color: #8C3D14;
  text-decoration: none;
}

.tk-socialmedia {
  position: fixed;
  left: 0;
  top: 30vh;
  width: 40px;
}

.tk-hero {
height: 85vh;
text-align: center;
justify-content: center;
align-items: center;
background-image: url(photos/panorama_nowa.jpg);
background-size: cover;
background-position: center;
overflow: hidden;
}

.tk-hero-slogan {
margin: 20vh auto;	
max-width: 960px; 
}

.tk-hero-slogan__text { 
font-family: 'Courgette', cursive;
}

.tk-hero-slogan__text--main {
font-weight: bold;
font-size: 100px;
color: #934923;
margin: -30px auto 0;
}

.tk-hero-slogan__text--second {
background: rgba(255, 255, 255, 0.5);
font-size: 25px;
color: #DA791D;
padding: 5px 5px;
margin: 40px auto;
width: 65%;
}

.hero-button {
font-size: 12px;
background: rgba(255, 255, 255, 0.5);
color: black;
text-align: center;
border: none;
padding: 10px 25px;
margin: 15px auto;
cursor: pointer; 
}



// MAIN
.tk-main-content {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.tk-about-us {
width: 940px;
margin-top: 50px;
margin-right: auto;
margin-left: auto;
display: block;
}

.tk-about-us__content { 
display: flex;    
justify-content: flex-end; 
align-items: center;
}

.tk-about-us__text--additional { 
display: inline;    
justify-content: center; 
align-items: center;
}

.tk-about-us__text {
padding-top: 20px;    
font-size: 12px;
margin: 0 auto;
line-height: 3vh; 
}

.tk-about-us__image { 
height: 50%;
}

.tk-history { 
 width: 940px;
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 40px;
 display: block;
}

.tk-history__content {
display: flex;
align-items: center;
}

.tk-history__text { 
background-color: white; 
font-size: 12px;
line-height: 3vh;
padding-left: 20px;
}

.tk-history__nowa {
display: flex;
align-items: center;
}

.tk-history__old_image {
 display: inline-block;
 justify-content: flex-end;
 width: 30%;
 height: 30%
}
.tk-history__new_photo {
display: flex;
justify-content: flex-start;
width: 30%;
height: 30%
}

.tk-about-us__text--highlighted,
.tk-history__text--highlighted {
background: #8C3D14;
color: white;
padding: 3px 5px 3px 5px;
}

.ciekawostki { 
width: 940px;
background-color: white;
width: 100%;
display: flex;
justify-content: center;
}

.img_info {
height: 25%;
width: 25%;
} 

.tk-atraction { 
padding-left: 200px;
padding-right: 200px; 
background-color: #EAE7BB; 
display: block;
}

.tk-atraction__article {
background-color: white; 
font-size: 12px;
margin-top: 30px; 
padding: 15px;   
line-height: 3vh;
text-align: center;
}

.tk-atraction__kolumny-3,
.tk-location__kolumny-3 { 
display: flex;
justify-content: center;
padding-top: 30px;
padding-bottom: 30px;
align-items: center;
}

.tk-atraction__box,
.tk-location__box {
  display: block;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.tk-atraction__ikona,
.tk-location__ikona {
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.tk-atraction__name,
.tk-location__name {
display: flex;
font-size: 14px;
font-weight: bolder;
color: #506617;
padding-top: 30px;
justify-content: center;  
}

.tk-atraction__description, 
.tk-location__description {
font-size: 12px;
padding-top: 10px;
color: #AFB62C; 
}

.tk-galery {  
width: 940px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.tk-galeria_photos {
width: 940px;
display: flex;
justify-content: flex-start;
flex-direction: column;
}

.tk-galeria_photo1 { 
width: 50%;
height: 50%;
}

.tk-galeria_photo2 { 
width: 50%;
height: 50%;
display: flex;
align-self: flex-end;
}

.tk-galeria_photo3 { 
width: 50%;
height: 50%;
}

.tk-location { 
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.tk-about-us__title, 
.tk-history__title, 
.tk-atraction__title, 
.tk-galery__title, 
.tk-location__title, 
.tk-contact__title {
  font-weight: bold;
  font-size: 30px;
  color: #8C3D14;
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.tk-contact__title {
    position: absolute;
    top: -60px;
}

.tk-contact { 
  height: 350px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(photos/end_photo.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  margin-top: 100px;
}

.tk-contact__content {
width: 60%;
background-color: white;
height: auto;
padding: 20px 50px; 
}
.tk-kontakt__text--main {
font-weight: bolder;
color: #506617;
text-align: center;
font-size: 14px;
}

.tk-kontakt__text--second {
font-size: 12px;
text-align: center;
background: none; 
}

.tk-footer {
background-color: white;
text-align: center;
}

.tk-footer__text {
font-size: 10px;
margin: 0;
padding:  40 px; 
}
